:root {
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #275EFE;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

.div {
    display: block;
}

@media (max-width: 900px) {
    .hero {
        height: auto;
        padding: 11rem 0;
    }
}

.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

@media (max-width: 460px) {
    .container {
        padding: 0 1.7rem;
    }
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

@media (max-width: 900px) {
    .content {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
}

.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
}

@media (max-width: 900px) {
    .hero-main {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
}

.hero-main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.hero-text h1 {
    color: #2d2e32;
    font-size: 5.5rem;
    line-height: 1,2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width: 900px) {
    .hero-text img {
        right: 1.7rem;
    }
}

@media (max-width: 500px) {
    .hero-text img {
        height: 4.5rem;
        right: 4rem;
        top: 6.4rem;
        width: 4.5rem;
    }
}

.hero-text img {
    height: 6rem;
    position: absolute;
    right: 12rem;
    top: 11.5rem;
    width: 6rem;
}

@media (max-width: 500px) {
    .hero-img {
        height: 28rem;
        width: 28rem;
    }
}

@media (max-width: 900px) {
    .hero-text p {
    margin-bottom: 5rem;
    }
    .hero-text img {
        right: 2rem;
    }
}

.hero-text p {
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

@media (max-width: 900px) {
    .hero-text span {
    gap: 1.6rem;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: -2rem;
    }
}

.hero-text span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
}

.hero-text span a {
    color: #2d2e32;
    font-size: 2rem;
}

.hero-text span i {
    transition: all .2s;
}

.hero-text span p {
    font-size: 18px;
    margin: 0;
    color: var(--text);
  }
  .hero-text span p a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin 0.25s;
  }
  .hero-text span p a svg {
    width: 76px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
  }
  .hero-text span p a:hover {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: .1s;
    --offset: 180px;
  }

.fa-brands {
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
    font-style: normal;
    display: var(--fa-display, inline-block);
}

.fa-linkedin::before {
    content: "\f08c";
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.hero-img {
    animation: morph 8s infinite;
    background-image: url(urso.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s else-in-out;
    width: 35rem;
}

.skills {
    align-items: center;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: absolute;
}

@media (max-width: 900px) {
    .skills p {
        border-bottom: 2px solid rgba(45, 46, 50, .5);
        border-right: none;
        margin-bottom: 3rem;
        margin-right: 0;
        padding-bottom: 0.3rem;
        padding-right: 0;
    }
    .skills {
        flex-direction: column;
        position: static;
    }
}

.skills p {
    border-bottom: 2px solid rgba(45, 46, 50, .5);
    color: #2d2e32;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    margin-right: 6rem;
    padding-bottom: 0.3rem;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    list-style: none;
}

.skills ul li {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    cursor: pointer;
    display: flex;
    height: 6.5rem;
    justify-content: center;
    width: 6.5rem;
}

.skills ul li img {
    height: 3.4rem;
    width: 3.4rem;
}

@media (max-width: 1020px) {
    .about {
        padding: 8rem 0;
    }
    .about-content {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .work-emoji {
        bottom: 25px;
        right: 245px;
    }
    .img-side_main-img {
        margin-bottom: 3.5rem;
    }
    .img-side span {
        bottom: 3px;
        height: 17rem;
        right: 190px;
        width: 17rem;
    }
    .img-side span img {
        width: 17rem;
    }
    .text-side {
        margin: 0 auto;
        max-width: 54rem;
    }
}

.about {
    background: #fff;
    padding: 15rem 0;
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.about-content {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.img-side {
    position: relative;
}

@media (max-width: 750px) {
    .work-emoji {
        display: none;
    }
    .img-side span {
        display: none;
    }
}

@media (max-width: 880px) {
    .work-emoji {
        bottom: 57px;
        right: 156px;
    }
    .img-side span {
        bottom: -3px;
        right: 100px;
    }
}

.work-emoji {
    bottom: 9.5rem;
    position: absolute;
    right: 98px;
    width: 6rem !important;
    z-index: 10;
}

.img-side_main-img {
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}

.img-side span {
    background-color: #fff;
    border-radius: 50%;
    bottom: 33px;
    height: 19rem;
    position: absolute;
    right: 33px;
    width: 19rem;
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

.img-side span img {
    -webkit-animation: rotate 9s linear infinite;
    animation: rotate 9s linear infinite;
    width: 19rem;
}

.text-side {
    padding-right: 1.5rem;
}

.text-side h3 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.text-side h4 {
    color: #2d2e32;
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.text-side p {
    color: #767676;
    font-family: Mulish, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}